@charset "UTF-8";
/* CSS Document */

/* #Reset
================================================================================================= */

html, body {
height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.25;
  font-weight:100;
  font-family: 'Open Sans', sans-serif;
  color:#484848;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
	height:100%;
}
body {
	margin:0px;
	padding:0px;
	height:100%;
}
a {
	text-decoration:none;
	color:#7accc8;
}
.title a{
	text-transform:uppercase;
	font-size:20px;
	color:#333;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:700;
	line-height:150%;
}
p {
font-size: 15px;
line-height: 140%;
}
h1 {
font-weight: normal;
text-transform: uppercase;
font-family: 'Josefin Sans', sans-serif;
}
h2 {
	font-family: 'Josefin Sans', sans-serif;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #f05a22;
    margin: 1em 0; padding: 0; }

.text-right {
	text-align:right;
}
/* ClearFix
=============================================================================================== */

.clear {
  clear: both;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
/* Media - Fluid Images - Video
============================================================================================== */

figure {
  margin: 0;
}

img,
object,
embed,
video {
  max-width: 100%;
}

body > img,
object,
embed,
video {
  width: 100%;
}

/* Fluid images */

img {
  height: auto;
  vertical-align: middle;
  border: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  -ms-interpolation-mode: bicubic;
}

/* Correct IE9 overflow */

svg:not(:root) {
  overflow: hidden;
}

/* Avoid Google maps broken with max-width 100% */

img[src*="maps.gstatic.com"],
img[src*="googleapis.com"] {
  max-width: none;
}

/* Links (No outline borders)
============================================================================================== */

a:focus {
  outline: 0;
}


.myButton {
	background-color:transparent;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:12px;
	border:2px solid #f05922;
	display:inline-block;
	cursor:pointer;
	color:#f05922;
	font-family:arial;
	font-size:16px;
	padding:11px 50px;
	text-decoration:none;
	text-transform:uppercase;
	margin-top:40px;
}
.myButton:hover {
	background-color:#f05922;
	color:#ffffff;
}
.myButton:active {
	position:relative;
	top:1px;
}




textarea {
  overflow: auto;
}



.wrap {
	width:100%;
	margin:auto;
}

/*NAVIGATION*/
#nav {
	width:100%;
	background-color:#ffffff;
/*	background-image:url(images/nav-bg.png);
	background-repeat:repeat;*/
 position: relative;
    z-index: 5;
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -7px #777;
	   -moz-box-shadow:0 8px 6px -7px #777;
	        box-shadow: 0 8px 6px -7px #777;
}
.nav-wrap {
	max-width:1070px;
	margin-left:auto;
	margin-right:auto;
	height:82px;
}


#main-nav {
	width:70%;
	color:#ffffff;
	text-align:right;
}
#main-nav ul{
	display:inline;	
}
#main-nav li{
	display:inline-block;
	line-height:82px;
	font-size:20px;
	text-transform:uppercase;
	color:#D3D3D3;
}
#main-nav li a{
	font-size: 18px;
	color:#000000;
	margin: 15px;
	text-align:center;
	font-family: 'Hammersmith One', sans-serif;

}
#main-nav li a:hover{
	border-bottom:2px solid #000;
	padding-bottom: 5px;

}
.active {
		border-bottom:2px solid #000;
	padding-bottom: 5px;
}
#logo-nav {
	width: 28%;
color: #ffffff;
padding-left: 2%;
}
#logo-nav li{
	line-height:70px;
	font-size:24px;
	text-transform:uppercase;
	color:#febc69;
}


/* Social links */

.footer-social-links{
text-align: right;

}

.social-links{	
	display: inline-block;
	margin-top:20px;
}
.social-links a{
	float: left;
	padding-left: 5px;
	color: #151515;
	text-decoration: none;
}
.social-links a:hover{
	text-decoration: none;
}
.social-links a .fa{
	width: 34px;
	height: 34px;
	display: block;
	line-height: 32px;
	position: relative;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	background: #eee;
	color: #151515;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.social-links a .fa:after{
	content: " ";
	width: 34px;
	height: 34px;
	display: block;
	position: absolute;
	top: -1px;
	left: -1px;
	border: 1px solid transparent;
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0); 
	-webkit-transition: all 170ms cubic-bezier(0.805, 0.075, 0.315, 1.410); 
   	-moz-transition: all 170ms cubic-bezier(0.805, 0.075, 0.315, 1.410); 
     -o-transition: all 170ms cubic-bezier(0.805, 0.075, 0.315, 1.410); 
     transition: all 170ms cubic-bezier(0.805, 0.075, 0.315, 1.410);
}
.social-links a:hover .fa{
	background: #fff;
}
.social-links a:hover .fa:after{
	border-color: #333;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0, .45);
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0, .45);
	box-shadow: 0px 0px 2px rgba(0,0,0, .45);
}




.hero {
	padding: 75px 20px 0 20px;
	max-width:1070px;
	margin:auto;
}
.intro .hero h1 {
	text-align:center;
	font-family: 'Hammersmith One', sans-serif;
	font-size:220%;
	padding-bottom:50px;
	color:#000;
}
.intro {
	width:100%;
	background-image:url(../images/polka-1-25.png);
	background-repeat:repeat;
}
.how-we-work {
	max-width:670px;
	margin:auto;
	text-align:center;
	padding-top:80px;
	margin-bottom:50px;
}
.how-we-work h2 {
	text-transform:uppercase;
	font-size:20px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:700;
}

.portfolio {
	width:100%;
	background-color:#7accc8;
}
.portfolio .hero h1 {
	font-family: 'Hammersmith One', sans-serif;
	font-size:220%;
	padding-bottom:15px;
	color:#ffffff;
}
.portfolio h2 {
	font-size:21px;
	padding-bottom:50px;
	font-weight:300;
	color:#ffffff;
}
.portfolio-grid {
	max-width:1070px;
	margin:auto;
	padding:80px 20px 0 20px;
	margin-bottom:50px;
}
.product-grid {
	max-width:1070px;
	margin:auto;
	padding:80px 20px 0 20px;
	margin-bottom:50px;
}
.grid-4 {
	width:23%;
	background-color:#efefef;
	margin:1%;
	height:220px;
}
.grid-img {
	padding:1px;
}
.grid-text {
	padding: 15px;
color: #666;

}

.grid-text p {
	font-size:13px;
	line-height:140%;
}
.grid-40 {
	width:40%;
	margin:1%;
}
.grid-60 {
	width:55%;
	margin:1%;
}
.quote {
	font-size: 80%;
line-height: 150%;
margin-left: 20px;
color: #519e9a;
}
.quotation {
	background-image:url(../images/quote.png);
	width:80%;
	padding:10px;
	background-repeat:no-repeat;
}
.quotation2 {
	background-image:url(../images/quote2.png);
	width:80%;
	padding:10px;
	background-repeat:no-repeat;
	background-position:right bottom;
}
.product-columns {
	width:100%;
	background-color:#efefef;
	margin-bottom:20px;
}
.contact {
	width:100%;
	margin-bottom:60px;
}
.contact .grid-text p {
	font-size:18px;
}
.partners {
	max-width:970px;
	margin:auto;
	text-align:center;
	padding-top:50px;
	margin-bottom:50px;
}
.partners h2 {
	text-transform:uppercase;
	font-size:20px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight:700;
}
.partners hr {
	display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}
.partners img {
	display:inline;
}
/*ABOUT US*/
.aboutGrid {
	width:100%;
	margin:auto;
	margin-top:30px;
	padding-bottom: 75px;

}
.grids {
	width:23%;
	padding:1%;
	height:auto;
	float:left;
}
.grids p {
text-align: center;
}


footer {
	background-color:#7d7d7d;

	width:100%;
	margin-top:70px;

}
footer a{
	font-weight:100;
	color:#ffffff;
}
.footer-details {
	max-width:1070px;
	margin:auto;
	color:#ffffff;
	line-height:100px;
}
.footer-details p {
	padding:30px;
	font-size:12px;
	display:inline;
	padding:20px;
	letter-spacing: 1px;
}
.footer-column-left {
	width:70%;
}
.footer-column-right {
	width: 28%;
padding-right: 2%;
}


.wrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}
/* Responsive Navigation Basic Style
===============================================================================================*/

#menu {
  display: none;
}
#logo-nav-mobile {
	display:none;
}

@media screen and (max-width: 768px) {
.active {
	border:none;
}
#main-nav {
	width:100%;
	padding:0px;
	border-top: 1px solid #000;
}
#main-nav li {
	border-bottom:1px solid #000000;
	line-height: 47px;
font-size: 12px;
}
#main-nav li a:hover {
border-bottom: none;
padding-bottom: 5px;
}
#logo-nav {
	display:none;
}
	#logo-nav-mobile {
	display:block;
	padding:10px;
}
#logo-nav-mobile a {
		color:#000000;
		font-weight:500;
		line-height:28px;
}
  #menu {
    display: block;
    padding: 10px;
    font-size: 1.35em;
    text-align: right;
    cursor: pointer;
    background: #ffffff;
  }
  #menu span {
    margin-right: 10px;
  }
  #nav {
    display: none;
  }
  #nav ul {

    margin: 0 auto;
  }
  #nav li {
    display: block;
    width: 100%;
  }
}

/* RESPONSIVE*/

@media (min-width: 1200px) {

}


@media handheld, only screen and (max-width: 768px) {
  
}

/* Custom sizes
============================================================================================== */

/* Helpers for windows phone 8 */




@media screen and (max-width: 768px) {
.grids {
width: 18%;
padding: 1%;
height: auto;
float: left;
}
	.grid-text {
padding: 5px;
color: #666;
}
.grid-text br {
	display:none;
}
	.grid-4 {
width: 31%;
height: auto;
}
	.footer-details p {
padding: 30px;
font-size: 12px;
display: inline;
padding: 16px;
letter-spacing: 1px;
}
  
}




@media screen and (max-width: 640px) {
  .footer-details p {
font-size: 12px;
display: block;
padding: 10px 0px 0px 15px;
letter-spacing: 1px;
}
}
@media screen and (max-width: 400px) {
	.push {
    display:none;
}
  @-ms-viewport {
    width: device-width;
  }
  @viewport {
    width: device-width;
  }
  .grid-4 {
width: 48%;
  }
  .hero {
padding: 35px 20px 0 20px;
}
.portfolio-grid {
padding: 40px 20px 0 20px;
}
.product-grid {
padding: 40px 20px 0 20px;
}
.quotation, .quotation2 {
	display:none;
}
.grids {
width: 31%;
}
.grid-40 {
width: 100%;
margin: 1%;
display:block;
float:none;
}
.grid-60 {
width: 100%;
margin: 1%;
display:block;
float:none;
}
p {
font-size: 13px;
line-height: 140%;
}
.contact {
    width: 100%;
    margin-bottom: 60px;
}
br {
	display:inherit;
}
}

@media screen and (max-width: 320px) {
  
}



@media screen and (max-width: 1024px) {
  
}

/* iPads (landscape) and (portrait)  ----------- */

/* Add your styles for devices with a maximum width of 1024 */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  
}

/* Add your styles for devices with a maximum width of 768 */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  
}